.c-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 22px;
    border-radius: 100px;
    box-shadow: $dp4-shadow;

    &--orange-filled{
        background-color: $secondary-800;
        color: $generic-white;

    }

    &--orange-unfilled{
        background-color: $generic-white;
        color: $secondary-800;
        border: 1px solid $secondary-800;
        padding: 14px 32px;
        font-weight: 800;
        box-shadow: none;
    }
}