.c-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 74px;
    box-shadow: $dp2-shadow;
    font-size: 13px;
    font-weight: 800;
    background-color: $generic-white;
    z-index: 10;
    opacity: 0;
    transform: translateY(-74px);
    animation: start-appear-move 1s ease-out forwards;

    @include small-desktop{
        padding: 0 20px;
    }

    .c-nav {
        grid-column: 3;
        display: grid;
        grid-template-columns: repeat(3, min-content);
        align-items: center;
        column-gap: 32px;

        @include tablet{
            grid-template-columns: repeat(2, min-content);
        }

        &__list {
            justify-self: end;
            display: grid;
            grid-template-columns: repeat(5, min-content);
            column-gap: 48px;

            @include tablet {
                display: none;
            }
        }

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__link {
            color: $grey-700;
            display: flex;
            font-weight: bold;
            transform: translateY(0px);
            transition: transform 0.5s ease-out;

            &:hover {
                color: $secondary-800;
                transform: translateY(2px);
            }
        }

        &__letter{
            @include gradual-color-shift($grey-700, $secondary-800);
            color: $grey-700;
        }
    }
}