.c-intro-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 124px repeat(2, min-content);

    &__floating-panel {
        background-image: url('./assets/icons/dotted-panel-horizontal.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        position: relative;
        top: -60px;
        height: 124px;
        padding: 32px 64px;
        display: grid;
        grid-template-columns: 168px 703px;
        grid-template-rows: 1fr;
        column-gap: 135px;
        align-content: center;
        align-items: center;
    }

    &__details {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        column-gap: 24px;
        row-gap: 6px;
    }

    &__video-panel {
        position: relative;

        &::after {
            content: url('./assets/images/play-button.png');
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        img {
            width: 440px;
        }
    }

    %common-skills-and-whom {
        display: grid;
        grid-template-columns: 32px 488px;
        align-content: center;
        column-gap: 32px;
        row-gap: 16px;

        h2 {
            font-weight: 600;
        }

        img{
            align-self: start;
        }
    }

    &__for-whom-text {
        @extend %common-skills-and-whom;

        grid-template-rows: 36px 60px;
        align-items: center;
    }

    &__new-skills-text {
        @extend %common-skills-and-whom;

        grid-template-rows: 72px 80px;
        align-items: start;
    }
}