.c-footer {
    background-color: $grey-700;
    border-top: 12px solid $grey-500;
    height: 324px;
    width: 100%;
    padding: 64px 0;

    @include small-desktop{
        height: auto;
    }

    @include phone{
        padding: 52px 20px 32px;
    }

    &__alien-image {
        position: relative;

        @include small-desktop{
            display: none;
        }

        &::after{
            content: '';
            width: 220px;
            height: 403px;
            background-image: url('./assets/images/orange-alien.png');
            background-repeat: no-repeat;
            position: absolute;
            bottom: -42px;
            left: 0;
        }

        &::before{
            content: '';
            width: 63px;
            height: 63px;
            background-image: url('./assets/images/alien-eye.png');
            background-repeat: no-repeat;
            position: absolute;
            bottom: 250px;
            left: 82px;
            z-index: 5;
            transform: translate(0px, 0px);
            animation: alien-eye 6s ease-in-out infinite alternate-reverse;
        }
    }

    &__nav-column {
        
        h4 {
            color: $generic-white;
            white-space: nowrap;
            margin-top: 0;
            line-height: 22px;
            font-family: "LatoWeb", sans-serif;
            font-size: 18px;
            font-weight: bold;
            
        }
    }

    &__list {
        display: flex;
        flex-flow: column wrap;
        height: 162px;

        @include small-desktop{
            height: auto;
        }
    }

    &__item {
        line-height: 19px;
        padding-bottom: 12px;
        display: flex;
    }

    &__link {
        white-space: nowrap;
    }

    a {
        color: $grey-200;
        transform: translateX(0px);
        transition: color 0.5s ease-out, transform 0.5s ease-out;

        &:hover{
            color: $primary-300;
            transform: translateX(5px);
        }

    }

}