.c-intro-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 124px repeat(2, min-content);

    @include small-desktop {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, max-content);
    }

    &__floating-panel {
        background-image: url('./assets/icons/dotted-panel-horizontal.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        position: relative;
        height: 124px;
        padding: 32px 64px;
        display: grid;
        grid-template-columns: 168px 703px;
        grid-template-rows: 1fr;
        column-gap: 135px;
        align-content: center;
        align-items: center;
        animation: move-up 1s ease-out forwards;

        @include small-desktop {
            background-image: url('./assets/icons/dotted-panel-horizontal-responsive.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            position: relative;
            height: 562px;
            width: 335px;
            padding: 46px 24px 24px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 52px min-content;
            row-gap: 82px;
            justify-content: center;
            justify-items: left;
            justify-self: center;

            .c-btn {
                padding: 16px 94px;
            }
        }

    }

    &__details {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        column-gap: 24px;
        row-gap: 6px;
    }

    &__video-panel {
        position: relative;

        &::after {
            content: url('./assets/images/play-button.png');
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(1);
            transition: transform 0.5s ease-out;
        }

        &:hover::after {
            transform: translate(-50%, -50%) scale(1.2);
        }

        img {
            width: 100%;
        }
    }

    &__for-whom-text {
        @extend %common-skills-and-whom;

        grid-template-rows: 36px 60px;
        align-items: center;

        @include small-desktop {
            grid-template-rows: repeat(2, min-content);

            h2 {
                margin: 0;
            }

            p {
                grid-column: 1/3;
                grid-row: 2/3;
                margin: 0;
            }
        }
    }

    &__new-skills-text {
        @extend %common-skills-and-whom;

        grid-template-rows: 72px 80px;
        align-items: start;

        img {
            position: relative;
            top: 25px;
        }

        @include small-desktop {
            grid-template-rows: repeat(2, min-content);

            img {
                grid-row: 1/2;
                position: unset;
            }

            ;

            h2 {
                margin: 0;
            }

            p {
                grid-column: 1/3;
                grid-row: 2/3;
                margin: 0;
            }
        }
    }
}