a{  
    display: inline-block;
    text-decoration: none;
    padding: 0;
    margin: 0;
    line-height: normal;

    &:hover{
        cursor: url('./assets/other/cursor.svg'), auto;
    }
}