.o-main-container {

    &::before {
        content: '';
        position: absolute;
        background-color: $blue-400;
        height: 302px;
        width: 100%;
        left: 0;
        right: 0;
    }

    &--map-pseudo::before {
        content: '';
        position: absolute;
        background-image: url('./assets/images/Map.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 500px;
    }

    .o-main-grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, min-content);

        &--three-rows {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, min-content);
        }
    }
}

.o-details-container {
    display: grid;
    grid-template-columns: repeat(7, min-content);
    grid-template-rows: 1fr;
    column-gap: 32px;
    align-items: center;
}

.o-content-wrapper {
    display: grid;
    align-content: center;

    &--different-items {
        grid-template-columns: 735px 440px;
        grid-template-rows: min-content;
        column-gap: 100px;
        align-items: center;

        &--shorter {
            grid-template-columns: 608px 1fr;
            grid-template-rows: min-content;
            column-gap: 100px;
        }
    }

    &--equal-items {
        grid-template-columns: 1fr min-content 1fr;
        grid-template-rows: 230px;
        column-gap: 88px;
        align-items: center;

        &--extra-height {
            grid-template-columns: 1fr min-content 1fr;
            grid-template-rows: 334px;
            column-gap: 32px;
            align-items: center;
        }
    }

    &--two-equal-containers {
        grid-template-columns: repeat(2, min-content);
        grid-template-rows: 1fr;
        column-gap: 32px;
    }
}