@import './styles/7.Settings/settings-breakpoints';
@import './styles/7.Settings/settings-colors';
@import './styles/7.Settings/settings-shadows';
@import './styles/7.Settings/settings-placeholders';
@import './styles/7.Settings/settings-animations';

@import './styles/5.Generic/generic-normalize';

@import './styles/4.Elements/elements-typography';
@import './styles/4.Elements/elements-body';
@import './styles/4.Elements/elements-images';
@import './styles/4.Elements/elements-links';
@import './styles/4.Elements/elements-lists';
@import './styles/4.Elements/elements-list-items';
@import './styles/4.Elements/elements-headings';
@import './styles/4.Elements/elements-spans';

@import './styles/3.Objects/objects-header-containers';
@import './styles/3.Objects/objects-footer-containers';
@import './styles/3.Objects/objects-general-containers';
@import './styles/3.Objects/objects-main-containers';

@import './styles/2.Components/components-header';
@import './styles/2.Components/components-buttons';
@import './styles/2.Components/components-footer';
@import './styles/2.Components/components-burger-menu';
@import './styles/2.Components/page-1/components-blue-section';
@import './styles/2.Components/page-1/components-intro-section';
@import './styles/2.Components/page-1/components-yellow-section';
@import './styles/2.Components/page-1/components-other-info-section';
@import './styles/2.Components/page-2/components-yellow-intro-section';
@import './styles/2.Components/page-2/components-main-tutors-section';
@import './styles/2.Components/page-2/components-other-tutors-section';
@import './styles/2.Components/page-2/components-apply-section';
@import './styles/2.Components/page-2/components-horizontal-green-dots';
@import './styles/2.Components/page-3/components-map-and-details-section';
@import './styles/2.Components/page-3/components-contact-section';
@import './styles/2.Components/page-3/components-location-section';

@import './styles/1.Utilities/utilities-uppercase';
@import './styles/1.Utilities/utilities-arrow-width';
@import './styles/1.Utilities/utilities-logo-width';
@import './styles/1.Utilities/utilities-magnifying-glass-width';
@import './styles/1.Utilities/utilities-copyright-text';
@import './styles/1.Utilities/utilities-responsive-hidden';
@import './styles/1.Utilities/utilities-responsive-order';
@import './styles/1.Utilities/utilities-desktop-hidden';
@import './styles/1.Utilities/utilities-horizontal-line';
@import './styles/1.Utilities/utilities-dotted-panel-icons';
@import './styles/1.Utilities/utilities-extra-btn-padding';
@import './styles/1.Utilities/utilities-small-vertical-border';
@import './styles/1.Utilities/utilities-details-text';
@import './styles/1.Utilities/utilities-vertical-yellow-dots';
@import './styles/1.Utilities/utilities-bold';
@import './styles/1.Utilities/utilities-link-in-text';
@import './styles/1.Utilities/utilities-image-hover-blur';
@import './styles/1.Utilities/utilities-orange-text';
@import './styles/1.Utilities/utilities-responsive-padding-general';
@import './styles/1.Utilities/utilities-gradual-color-shift';


