.c-main-tutors-section{
    min-height: 548px;
    padding: 96px 0;
    width: 100%;

    @include tablet{
        padding-top: 64px;
        padding-bottom: 64px;
    }

    &__tutor-info{
        display: grid;
        grid-template-columns: 188px 409px;
        grid-template-rows: 52px 280px;
        column-gap: 32px;
        row-gap: 24px;

        @include tablet{
            grid-template-columns: 1fr;
            grid-template-rows: min-content min-content;
            justify-items: center;
        }
    }

    &__photo{
        grid-row: 1/3;
        align-self: start;
        max-width: 172px;

        @include tablet{
            grid-row: 1/2;
            margin-bottom: 8px;
        }

    }

    &__names{
        h4{
            margin: 0 0 8px;
            color: $primary-300;
            font-weight: bold;
            font-size: 20px;
        }

        span{
            color: $grey-400;
            font-size: 14px;
        }
    }

    &__bio{
        margin: 0;
    }
}